/ClteVentasOnLinePojo/nbproject/private/
/ClteVentasOnLinePojo/build/
/ClteVtasOnLinePojo/build/
/ClteVtasOnLinePojo_20180927/ClteVtasOnLinePojo/build/
/ClteVtasOnLinePojo_20180927/ClteVtasOnLinePojo/dist/
/ClteVtasOnLinePojo_20180927/ClteVtasOnLinePojo/nbproject/private/
/ClteVtasOnLinePojo_20180927/tstLogger/build/
/ClteVtasOnLinePojo_20180927/tstLogger/dist/
/ClteVtasOnLinePojo_20180927/tstLogger/nbproject/private/
/ClteVtasOnLinePojo/dist/
/MiSitioWeb/nbproject/private/
/MiSitioWeb/build/